body {
  margin: 0;
  font-family: 'Fruktur', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background: #202731;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding: 100px 20vw;
}

.blue {
  background: #3c31dd;
}

.red {
  background: rgb(223, 81, 81);
}

.pink {
  background: #c62368;
}

.dark {
  background: #0f0f10;
}

.bubble::after {
  content: '';
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  position: absolute;
  bottom: 0;
  height: 99%;
  width: 100%;
  background-color: rgb(40, 58, 58);
  z-index: -1;
}

/* Shape Divider https://www.shapedivider.app/ */

.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(111% + 1.3px);
  height: 220px;
}

.wave .shape-fill {
  fill: #141414;
}

/* Haikei https://app.haikei.app/ */

.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.waves-haikei {
  background-image: url('./waves-haikei.svg');
}

/* Animated blob */

.flip {
  transform: rotate(180deg);
}

/* Blobs SVG background image via https://haikei.app/ */

.blob-motion {
  position: absolute;
  transform: translateY(-20%);
  z-index: 0;
}

.blob-content {
  z-index: 1;
}

.blobs {
  width: 100%;
  background: url('./blob-haikei.svg') no-repeat bottom / cover;
}